<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <title>Vagrant Drupal Development</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <style type="text/css">
      .code {
        font-family: monospace;
        background-color: #f6f6f2;
        border: 1px solid #CCC;
        padding: 10px;
        margin-bottom: .5em;
        list-style-type: none;
        width: 650px;
      }
    </style>
  </head>

  <body>

  <h1>Welcome to VDD!</h1>
  <p>Hello, developer! On this page you can find links to your configured sites and development tools. Also there is a list of frequantly asked quistions.</p>

  <ul>
    <li><a href="#sites">Configured Sites</a></li>
    <li><a href="#dev">Development</a></li>
    <li><a href="#faq">FAQ</a></li>
  </ul>

  <h3>Configured Sites</h3>
  <ul>
    <% @sites.each do |index, site| %>
    <li>
     <%- if defined?(site["vhost"]["url"]) then -%>
       <a href="http://<%= site["vhost"]["url"] %>"><%= site["site_name"] %></a> (Drush alias is @<%= index %>)
     <%- else -%>
       <a href="/<%= index %>"><%= site["site_name"] %></a> (Drush alias is @<%= index %>)
     <%- end -%>
    </li>
    <% end %>
  </ul>

  <h4>Add the following to host (Win or Mac) machine's <a href="http://www.howtogeek.com/howto/27350/beginner-geek-how-to-edit-your-hosts-file/" target="_blank">hosts file</a>:</h4>
  <ul class="code">
    <li># Sites declared in VDD's config.json</li>
    <% @sites.each do |index, site| %>
      <%- if defined?(site["vhost"]["url"]) then -%>
        <li><%= node["ip"] %> <%= site["vhost"]["url"] %> </li>
      <%- end -%>
      <%- if defined?(site["vhost"]["alias"]) then -%>
        <%- site["vhost"]["alias"].each do |vhostalias| -%>
          <li><%= node["ip"] %> <%= vhostalias %> </li>
        <%- end -%>
      <%- end -%>
    <% end %>
    <li># End of sites declared with VDD</li>
  </ul>

  <h3>Development Tools</h3>
  <ul>
    <li><a href="http://<%= node["ip"] %>:1080/">MailCatcher</a></li>
    <li><a href="/phpmyadmin">phpMyAdmin</a></li>
    <li><a href="/phpinfo.php">phpinfo()</a></li>
  </ul>

  <h3>FAQ</h3>

  <h4>Questions</h4>
  <ul>
    <li><a href="#q1">How to ssh into virtual machine?</a></li>
    <li><a href="#q2">How to quickly install Drupal?</a></li>
    <li><a href="#q3">How to install fresh Drupal 8 version?</a></li>
  </ul>

  <h4>Answers</h4>

  <h5 id="q1">How to ssh into virtual machine?</h5>
  <p>Open your terminal (e.g. iTerm2 or Powershell) application and change to the directory with your VDD copy. Then simply execute next command:</p>
  <ol class="code">
    <li>$ vagrant ssh</li>
  </ol>

  <h5 id="q2">How to quickly install Drupal?</h5>
  <p>For this example we'll setup Drupal 7 on a site declared in the config.json: <em><%= @sites.first[0] %></em></p>
  <ol class="code">
    <li>Win/Mac/Linux host$ vagrant ssh</li>
    <% document_root = defined?(@sites.first[1]["vhost"]["document_root"]) ? @sites.first[1]["vhost"]["document_root"] : @sites.first[0] %>
    <% n = document_root.split(%r{\/\s*}).length %>
    <li>vagrant guest$ rm -rf ~/sites/<%= document_root.split(%r{\/\s*}).slice(0..n-1).each{ |index| index << "/"} %></li>
    <li>vagrant guest$ cd ~/sites/<%= document_root.split(%r{\/\s*}).slice(0..n-2).each{ |index| index << "/"} unless n == 1 %></li>
    <li>vagrant guest$ drush dl drupal-7 --drupal-project-rename="<%= document_root.split(%r{\/\s*}).last %>"</li>
    <li>vagrant guest$ drush @<%= @sites.first[0] %> si standard -y</li>
  </ol>

  <h5 id="q3">How to install fresh Drupal 8 version?</h5>
  <p>For this example we'll setup Drupal 8 on a site declared in the config.json: <em>drupal8 (in the default config.json)</em></p>
  <ol class="code">
    <li>Win/Mac/Linux host$ vagrant ssh</li>
    <li>vagrant guest$ cd ~/sites/drupal8</li>
    <li>vagrant guest$ git clone --branch 8.x http://git.drupal.org/project/drupal.git .</li>
    <li>vagrant guest$ drush @drupal8 si standard -y</li>
  </ol>

  </body>
</html>
