<!DOCTYPE html>
  <head>
    <title>Vagrant Drupal Development</title>
    <meta charset="utf-8">
    <style type="text/css">
      .code {
        font-family: monospace;
        background-color: #f6f6f2;
        border: 1px solid #CCC;
        padding: 10px;
        margin-bottom: .5em;
        list-style-type: none;
        width: 650px;
      }
    </style>
  </head>

  <body>
    <h1>Welcome to VDD!</h1>

    <p>Hello, developer! On this page you can find links to your configured sites and development tools. Also there is a list of frequently asked questions.</p>

    <ul>
      <li><a href="#sites">Configured Sites</a></li>
      <li><a href="#dev">Development</a></li>
      <li><a href="#faq">FAQ</a></li>
    </ul>

    <h2 id="sites">Configured Sites</h2>

    <h3>Add the following to host machine's <a href="http://www.howtogeek.com/howto/27350/beginner-geek-how-to-edit-your-hosts-file/" target="_blank">hosts file</a>:</h3>
    <ul class="code">
      <li># Sites declared in VDD's config.json</li>
      <% @sites.each do |index, site| %>
        <%- if defined?(site["vhost"]["url"]) then -%>
          <li><%= node["vm"]["ip"] %> <%= site["vhost"]["url"] %> </li>
        <%- end -%>
        <%- if defined?(site["vhost"]["alias"]) then -%>
          <%- site["vhost"]["alias"].each do |vhostalias| -%>
            <li><%= node["vm"]["ip"] %> <%= vhostalias %> </li>
          <%- end -%>
        <%- end -%>
      <% end %>
      <li># End of sites declared with VDD</li>
    </ul>

    <ul>
      <% @sites.each do |index, site| %>
      <li>
       <%- if defined?(site["vhost"]["url"]) then -%>
         <a href="https://<%= site["vhost"]["url"] %>"><%= site["site_name"] %></a> (Drush alias is @<%= index %>)
       <%- else -%>
         <a href="/<%= index %>"><%= site["site_name"] %></a> (Drush alias is @<%= index %>)
       <%- end -%>

       <%- if defined?(site["type"]) then -%>
         <em><%= site["type"] %></em>
       <%- end -%>
      </li>
      <% end %>
    </ul>

    <h2 id="dev">Development Tools</h2>
    <ul>
      <li><a href="http://<%= node["vm"]["ip"] %>:1080/">MailCatcher</a></li>
      <li><a href="/phpmyadmin">phpMyAdmin</a></li>
      <li><a href="/phpinfo.php">phpinfo()</a></li>
      <li><a href="/pimpmylogs">PimpMyLogs</a></li>
      <li><a href="/webgrind">Webgrind</a></li>
    </ul>

    <h2 id="ports">Ports and sockets</h2>
    <ul>
      <li><b>Port 443</b>: NGinX (HTTPS)</li>
      <li><b>Port 80</b>: Varnish</li>
      <li><b>Port 8081</b>: NGinX (HTTP)</li>
      <li><b>Port 8082</b>: Apache (HTTP)</li>
      <li><b>/var/run/php5-fpm.sock</b>: PHP5 FPM</li>
    </ul>

    <h2 id="faq">FAQ</h2>

    <h3>Questions</h3>
    <ul>
      <li><a href="#q1">Where can I find help?</a></li>
      <li><a href="#q2">How to ssh into virtual machine?</a></li>
      <li><a href="#q3">How to install fresh Drupal 8 version?</a></li>
      <li><a href="#q4">How to quickly install Drupal 7?</a></li>
      <li><a href="#q5">What is Webgrind and how would I use it?</a></li>
      <li><a href="#q6">How to use memcache</a></li>
      <li><a href="#q7">How to use SSL and varnish</a></li>
    </ul>

    <h3>Answers</h3>

    <h4 id="q1">Where can I find help?</h4>
    <p>Please check <a href="https://drupal.org/node/2008758">project documentation</a> on drupal.org. For support, join us on IRC in the <i>#drupal-vdd</i> channel.</p>

    <h4 id="q2">How to ssh into virtual machine?</h4>
    <p>Open your terminal (e.g. iTerm2 or Powershell) application and change to the directory with your VDD copy. Then simply execute next command:</p>
    <ol class="code">
      <li>$ vagrant ssh</li>
    </ol>

    <h4 id="q3">How to install fresh Drupal 8 version?</h4>
    <p>For this example we'll setup Drupal 8 on a site declared in the config.json: <em>drupal8 (in the default config.json)</em></p>
    <ol class="code">
      <li>Win/Mac/Linux host$ vagrant ssh</li>
      <li>vagrant guest$ cd ~/sites/drupal8</li>
      <li>vagrant guest$ git clone --branch 8.x http://git.drupal.org/project/drupal.git .</li>
      <li>vagrant guest$ drush @drupal8 si standard -y</li>
    </ol>

    <h4 id="q4">How to quickly install Drupal 7?</h4>
    <p>Make shure that appropriate site exists in config.json file. Don't forget to run 'vagrant provision' after changing config.json.</p>
    <ol class="code">
      <li>Win/Mac/Linux host$ vagrant ssh</li>
      <li>vagrant guest$ rm -rf ~/sites/drupal7</li>
      <li>vagrant guest$ cd ~/sites</li>
      <li>vagrant guest$ drush dl drupal-7 --drupal-project-rename="drupal7"</li>
      <li>vagrant guest$ drush @drupal7 si standard -y</li>
    </ol>

    <h4 id="q5">What is Webgrind and how do I use it?</h4>
    <p>Webgrind is a Xdebug Profiling Web Frontend in PHP. Xdebug can help <a href="http://devzone.zend.com/1120/introducing-xdebug/">simplify debugging</a>.</p>
    <ul>
      <li>Enable Xdebug by including "?XDEBUG_PROFILE=1" in the url. For example: <i>http://drupal8.dev/admin/reports/status?XDEBUG_PROFILE=1</i>.</li>
      <li>After generating Xdebug data, visit the <a href="/webgrind">Webgrind</a> dashboard to inspect results.</li>
    </ul>

    <h4 id="q6">How to use memcache?</h4>
    <p>You can use memcache as a cache backend in your drupal sites by downloading the memcache module into you sites/all/modules/contrib directory then adding the following tio you sites/[shortcode].dev/settings.php file</p>
    <ol class="code">
       <li>$conf['cache_backends'][] = './sites/all/modules/contrib/memcache/memcache.inc';</li>
       <li>$conf['cache_default_class'] = 'MemCacheDrupal';</li>
       <li>$conf['cache_class_form'] = 'DrupalDatabaseCache';</li>
       <li>$conf['cache_class_cache_form'] = 'DrupalDatabaseCache';</li>
       <li>$conf['lock_inc'] = 'sites/all/modules/contrib/memcache/memcache-lock.inc';</li>
       <li>$conf['memcache_stampede_protection'] = TRUE;</li>
       <li>$conf['memcache_servers'] = array('127.0.0.1:11211' => 'default');</li>
       <li>$conf['memcache_key_prefix'] = '[shortname]';</li>
     </ol>

     <h4 id="q7">How to use Varnish and SSL</h4>
     <p>If you have required the settings file correctly then nothing else is needed. Your site should respond on https://[shortname].dev (nginx and varnish) and http://[shortname].dev:8080 (just varnish).
     </p>
     <p>You can also add the SSL certificates to your Mac’s keychain to make it trust the certificate and you get a nice green padlock.  There is a certificate per site:
     </p>
     <ol>
     <li>Open finder and open the directory ~/Applications/vdd/data/ssl</li>
     <li>Double click each crt file, your Mac keychain will open</li>
     <li>Click Always trust</li>
     <li>Type your password into the popup and click Update settings</li>
     </ol>

  </body>
</html>
